/* ==========================================================================
   Base styles
   ========================================================================== */
html {
  line-height: 1.5;
  -webkit-text-size-adjust:100%;
}
body{
  background-color: #FFF;
  color: #222222;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.0em;
  margin:0;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  padding:0;
  word-spacing: .16em;
}
  
  /*
    * Remove text-shadow in selection highlight:
    * https://twitter.com/miketaylr/status/12228805301
    *
    * Vendor-prefixed and regular ::selection selectors cannot be combined:
    * https://stackoverflow.com/a/16982510/7133471
    *
    * Customize the background color to match the design.
    */
  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  ::selection {
  background: #b3d4fc;
  text-shadow: none;
  }
  
  /*
   * Customized horizontal rule
   */
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
  
  /*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their wrappers
   */
  audio,canvas,iframe,img,svg,video {
    vertical-align: middle;
  }
  
  /* 
   * avoid border on images in links 
   * + fix border image IE 
   */
  :link img, :visited img, img {
    border-style: none;
  }

  /*
   * Remove default fieldset styles.
   */
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }

/*
 * global Border to accomodate margins & padding
 */
*, .border-box{    
   box-sizing: border-box;
}

/*
 * Text rendering
 */
* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
    
  /*
   * Allow only vertical resizing of textareas.
   */
  
  textarea {
    resize: vertical;
  }

  h1, h2, h3, h4, h5 {
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #222222;
}
h2{
  font-size: 2.25em;
  margin: 0;
  line-height: 1.5;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
    
    .browserupgrade {
      margin: 0.2em 0;
      background: #ccc;
      color: #000;
      padding: 0.2em 0;
    }
    
/* ==========================================================================
   Helper classes
   ========================================================================== */
    
  /*
  * Skip link
  */
  .skip-link {
    background-color: #FFF;
    color: #111;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    font-family: inherit;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    height: 53px;
    left: 0;
    overflow: hidden;
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    top: -53px;
    text-decoration: underline;
    transition: top .25s ease;
    width: 100%;
    z-index: 999;
  }
  
  .skip-link:focus {
    background-color: #FFF;
    outline: 3px solid #FFF;
    top: 0;
    transition-duration: .2s;
   }

  /*
   * Hide visually and from screen readers
   */
    
   .hidden {
     display: none !important;
   }
    
  /*
   * Hide only visually, but have it available for screen readers (sr):
   * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
   *
   * 1. For long content, line feeds are not interpreted as spaces and small width
   *    causes content to wrap 1 word per line:
   *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
   */
    
  .sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
  }
    
  /*
   * Extends the .sr-only class to allow the element
   * to be focusable when navigated to via the keyboard:
   * https://www.drupal.org/node/897638
   */
    
  .sr-only.focusable:active,.sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
  }
    
  /*
   * Hide visually and from screen readers, but maintain layout
   */
  .invisible {
    visibility: hidden;
  }
    
    /*
    * Clearfix: contain floats
    *
    * For modern browsers
    * 1. The space content is one way to avoid an Opera bug when the
    *    `contenteditable` attribute is included anywhere else in the document.
    *    Otherwise it causes space to appear at the top and bottom of elements
    *    that receive the `clearfix` class.
    * 2. The use of `table` rather than `block` is only necessary if using
    *    `:before` to contain the top-margins of child elements.
    */
    
  .clearfix:before,
  .clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
  }
    
  .clearfix:after {
    clear: both;
  }

 /*
  * Focus settings
  */
a:focus, button:focus, input:focus, summary:focus, textarea:focus, #btnContactMe:focus{
  outline:4px solid #b53cde;
}
body.using-mouse :focus {
  outline: none;
}

/* ==========================================================================
    Layout styles
   ========================================================================== */
/* 
 *  Maintains layout integrity in responsive mode
 */
 .wrapper{
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
    
.row {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
    
.col {
  flex: 1 1 8%;
  margin: 0 0 0.5rem 0;
  padding: 0.5em 10px;
  box-sizing: border-box;
}
    
/* 
 *  Nested grids 
 */
.row.nested {
  flex: 1 1 auto;
  margin-top: -0.5em;
}
    
/* 
 *  Full width grids 
 */
.row.wide-fit {
  margin-left: -10px;
  margin-right: -10px;
}
    
/* 
 *  Center grids 
 */
.row.center {
  justify-content: center;
}

/* 
 *  Center column 
 */   
.center .col {
  flex-grow: 0;
  flex-shrink: 0;
} 
  
/* 
 *  Fixed width - adjust to suit
 */
.fixed-width {
  flex: 0 0 500px;
}

/* 
 *  Column widths
 */
.col-span-1 {
  flex-basis: 8.3333%;
}
.col-span-2 {
  flex-basis: 16.6666%; 
}
.col-span-3 {
  -webkit-flex-basis: 25%;
  flex-basis: 25%;
}
.col-span-4 {
  -webkit-flex-basis: 33.3333%;
  flex-basis: 33.3333%;
}
.col-span-5 {
  -webkit-flex-basis: 41.6666%;
  flex-basis: 41.6666%;
}
.col-span-6 {
  -webkit-flex-basis: 50%;
  flex-basis: 50%;
}
.col-span-7 {
  -webkit-flex-basis: 58.3333%;
  flex-basis: 58.3333%;
}
.col-span-8 {
  -webkit-flex-basis: 66.6666%;
  flex-basis: 66.6666%;
}
.col-span-9 {
  -webkit-flex-basis: 75%;
  flex-basis: 75%;
}
.col-span-10 {
  -webkit-flex-basis: 83.3333%;
  flex-basis: 83.3333%;
}
.col-span-11 {
  -webkit-flex-basis: 91.6666%;
  flex-basis: 91.6666%;
} 
.col-span-12 {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
}
/* 
 *  IE bug fix for flex-basis - https://github.com/philipwalton/flexbugs#flexbug-4
 */
_:-ms-fullscreen, :root .col-span-1 {
  flex-basis: auto;
  width: 8.3333%;
}
_:-ms-fullscreen, :root .col-span-2 {
  flex-basis: auto;
  width: 16.6666%;
}
_:-ms-fullscreen, :root .col-span-3 {
  flex-basis: auto;
  width:25%;
}
_:-ms-fullscreen, :root .col-span-4 {
  flex-basis: auto;
  width: 33.3333%;
}
_:-ms-fullscreen, :root .col-span-5 {
  flex-basis: auto;
  width: 41.6666%;
}
_:-ms-fullscreen, :root .col-span-6 {
  flex-basis: auto;
  width: 50%;
}
_:-ms-fullscreen, :root .col-span-7 {
  flex-basis: auto;
  width: 58.3333%;
}
_:-ms-fullscreen, :root .col-span-8 {
  flex-basis: auto;
  width: 66.6666%;
}
_:-ms-fullscreen, :root .col-span-9 {
  flex-basis: auto;
  width: 75%;
}
_:-ms-fullscreen, :root .col-span-10 {
  flex-basis: auto;
  width: 83.3333%;
}
_:-ms-fullscreen, :root .col-span-11 {
  flex-basis: auto;
  width: 91.6666%;
}
_:-ms-fullscreen, :root .col-span-12 {
  flex-basis: auto;
  width: 100%;
}
    

/* =================================
  Customs styles
  ================================= */
/*
 * Buttons
 */
 .button a, #btnContactMe{
  background-color: #ffffff;
  border-radius: 3px;
  border: 0 none;
  color: #222;
  cursor:pointer;
  font-size:calc(18px + (22 - 18) * ((100vw - 300px) / (1600 - 300)));;
  margin: 15px 0;
  opacity: 0.9;
  padding: 10px 30px;
  text-decoration: none;
  transition: all .25s ease 0s;
  -webkit-transition: all .25s ease 0s;
}
#btnContactMe{
  margin:0 10px;
}
.button a:hover, #btnContactMe:hover{
  box-shadow: 0 0 4px 1px rgba(0,0,0,0.35);
  opacity: 1;
}

.title-divider {
  width: 70px;
  height: 3px;
  background-color: #497E6C;
  margin:6px 0 20px 0;
}

.lead{
  font-weight: 600;
}

/* 
 *  Fixed Header
 */
 header {
  left:0;
  margin: 0;
  padding: 0;
  position: fixed;
  top:0;
  width:100%;
  z-index: 99;
}
header > .row{
  margin-top:0;
}
header .col-span-5 {
  display: flex;
  flex-direction: row;
  padding: 0 10px;
  margin: 0;
}
header .logo {
  align-items: center;
  display: flex;
  margin: 4px 0;
  padding: 0;
  text-decoration: none;
  -ms-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
header .logo h1{
  color: #FFF;
  font-family: 'Special Elite', serif;
  font-size:calc(25px + (35 - 25) * ((100vw - 300px) / (1600 - 300)));
  font-weight: bold;
  line-height: 1.5;
  margin:0;
  padding:0;
}
header.sticky {
  background: #FFF;
  box-shadow: 0 0 2px 1px rgba(0,0,0,0.35);
}
header.sticky .logo h1{
  color:#497E6C;
}
/*
 * Back to top
 */
.back-to-top {
  bottom:20px;
  margin: auto;
  position: relative;
  width:100px;
  z-index: 9;
}
.back-to-top a{
  background:#FFF;
  border-radius: 50%;
  display: flex;
  height: 100px;
  padding: 20px;
  width: 100px;
}
.back-to-top a span {
  background:#497E6C;
  border-radius: 50%;
  height: 90px;
  left: 5px;
  padding: 20px;
  position: absolute;
  text-indent: -99999px;
  top: 5px;
  transition: all 0.25s ease-in-out;
  width: 90px;
}
.back-to-top a span:hover{
  background:#365b4c;
  box-shadow: 0 1px 3px 1px rgba(0,0,0,0.4);
}
.back-to-top a span::after {
  border-color:#FFF;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-right-style: solid;
  border-right-width: 3px;
  content: '';
  height: 25px;
  left: 31px;
  position: absolute;
  top: 35px;
  transform: rotate(-135deg);
  width: 25px;
}


/* 
 *  Banner
 */
 .banner.row{
  margin:0 auto;
  padding:80px 15px 0;
}
.banner .col{
  margin:0;
  padding:10px 0 0;
}
.banner.row .col .nested{
  margin:0;
}
/* 
 *  Banner 
 */
.home-wrapper{
  background-color: #497E6C;
  margin:-.05em 0 0;
  padding:0; 
}
.hero{
  order:1;
}
.hero .inner{ 
  display: flex;
  justify-content: center;
  margin:0;
  padding:0;
}
.hero img {
  border: none;
  color: 
  #fff;
  outline: none;
  max-width: 100%;
}
.introduction {
  display: flex;
  order: 2;
}
.introduction .inner{
  align-self:center;
  margin:0;
  padding: 0;
  text-align: left;
  transform: translate(0%,-20%);
  -ms-transition:     all 0.25s ease-in-out;
  -moz-transition:    all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition:         all 0.25s ease-in-out; 
}
.introduction .inner h1 {
  color: #FFF;
  font-weight: bold;
  font-size: calc(23px + (45 - 23) * ((100vw - 300px) / (1600 - 300)));
  line-height: 1.5;
  margin:0;
  padding: 0;
}
.introduction .inner p {
  color: #FFF;
  font-size: calc(18px + (22 - 18) * ((100vw - 300px) / (1600 - 300)));
  font-family: inherit;
  line-height: 2;
  margin: 15px 0 30px;
  padding: 0;
}



/*
* Navigation
*/
nav{
  max-width: 500px;
}
nav .col{
  margin:0;
  padding: 0.25em 10px;
}
nav .row.nested{
  margin:0;
  padding:0;
  text-align:right;
}
nav .row.nested a{
  border-bottom: 2px solid;
  border-bottom-color:transparent;
  color: #FFF;
  font-size:calc(16px + (18 - 16) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 600;
  margin-left: 0;
  padding: 3px 0;
  text-decoration: none;
  -ms-transition:     border-bottom-color 0.25s ease-in-out;
  -moz-transition:    border-bottom-color 0.25s ease-in-out;
  -webkit-transition: border-bottom-color 0.25s ease-in-out;
  transition:         border-bottom-color 0.25s ease-in-out;
}

nav .row.nested a:hover{
  border-bottom-color: #FFF;
}
/*
* Fixed header
*/
.sticky nav .row.nested a {
  color: #497E6C;
}
.sticky nav .row.nested a:hover{
  border-bottom: 2px solid #497E6C;
}

/*
 * About
 */
 .overview a {
  color: #497E6C;
  font-weight: bold;
}
.unicorn img{
  color:#222222;
  display: block;
  max-width: 100%;
  outline:none;
}

/*
* Portfolio
*/
.portfolio{
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin:40px 0;
  padding: 0;
}
.portfolio-item{
  display: flex;
  padding: 10px 1%;
  width: 90%;
  margin: 0 auto;
  transition: all 0.25s ease-in-out;
}
.portfolio-item a{
  background-color: white;
  border: 7px solid #fff;
  border-radius: 0.25rem;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  width:100%;
}
.portfolio-item a:hover .portfolio-image{
  transform: scale(1.2,1.2);
}
.portfolio-content{
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 0.6em 0 0;
  position: relative;
  z-index: 7;
  background: #ffffff;
}
.portfolio-image {
  background-color: #FFF;
  box-sizing: border-box;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #e0e0e0;
  border-radius:0.25em 0.25em 0 0;
  overflow: hidden;
  position: relative;
  transition: all 0.25s ease-in-out;
  transform: scale(1.0,1.0);
}
/*
 * Portfolio images
 */
.portfolio-image.lazy-load.one.loaded{
  background-image:url("../img/export-new-zealand.jpg");
 }
 .portfolio-image.lazy-load.two.loaded{
  background-image:url("../img/nz-customs-service.jpg");
}
.portfolio-image.lazy-load.three.loaded{
  background-image:url("../img/baboon.jpg");
}
.portfolio-image.lazy-load.four.loaded{
  background-image:url("../img/customs-release.jpg");
}
.portfolio-image.lazy-load.five.loaded{
  background-image:url("../img/tbm.jpg");
}
.portfolio-image.lazy-load.six.loaded{
  background-image:url("../img/leapfrog-3d.jpg");
}
.portfolio-image.lazy-load.seven.loaded{
  background-image:url("../img/work-and-income.jpg");
}
.portfolio-image.lazy-load.eight.loaded{
  background-image:url("../img/aranzgeo.jpg");
}
.portfolio-image.lazy-load.nine.loaded{
  background-image:url("../img/iconography.jpg");
}
.portfolio-image.lazy-load.ten.loaded{
  background-image:url("../img/summit.jpg");
}
.portfolio-image.lazy-load.eleven.loaded{
  background-image:url("../img/bec.jpg");
}
.portfolio-image.lazy-load.twelve.loaded{
  background-image:url("../img/insights.jpg");
}

.portfolio-image::before {
  content: "";
  display: block;
  padding-top: 95%;
}

.portfolio-title {
  color: #222222;
  font-size: 1.05em;
  font-weight: 500;
  text-transform: uppercase;
}
.portfolio-text {
  flex: 1 1 auto;
  font-size: 0.875em;
  line-height: 1.5;
  margin: 5px 0;
  color: #222222;
}
.portfolio-content .arrow {
  background: #497E6C;
  bottom: 0px;
  height: 17px;
  margin: 10px;
  opacity: 0.75;
  position: absolute;
  right: -4px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  transform: rotate(135deg);
  -o-transform: rotate(135deg);
  width: 17px;
}
.portfolio-item a:hover .portfolio-content .arrow{
  opacity: 1.0;
} 
.portfolio-content .arrow:after {
  background: #ffffff;
  content: '';
  height: 20px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 20px;
}
/* 
 * Modal 
 */
 dialog {
  border: 0;
  display: block;
}
.no-scroll {
  overflow: hidden;
}
.portfolio-media {
  border: 0;
  height: 0;
  margin-bottom: 10px;
  max-width: 100%;
  outline: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}
.portfolio-media img {
  max-width: 100%;
  margin: -15px 0 0;
  padding: 0;
}
.simple-animated-modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #222;
  opacity: .9;
  z-index: 666;
  cursor: pointer;
}
.simple-animated-modal-overlay[data-background-click="disabled"] {
  cursor: auto;
}
.simple-animated-modal-overlay{
  animation: fadewhite ease .5s 1 normal ;
}
@keyframes fadewhite {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .8;
  }
}
.simple-animated-modal{
  background: #ffffff;
  border-radius: 4px;
  left: 24%;
  max-height: 90vh;
  overflow: auto;
  padding: 1.0em 1% 0.3em;
  position: fixed;
  right: 24%;
  top: 6vh;
  width: 50%;
  z-index: 667;
}
#modal-title {
  font-family: 'Open sans', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1;
  margin: 0 0 40px;
  padding: 0;
}
.simple-animated-modal-close {
  background: transparent;
  border: 0;
  cursor: pointer;
  height: 30px;
  outline: none;
  overflow: hidden;
  position: absolute;
  right: 2%;
  top: 15px;
  width: 30px;
} 
.simple-animated-modal-close::before, .simple-animated-modal-close:after{
  background: #497E6C;
  border-radius: 10px;
  content: '';
  height: 5px;
  margin-top: -1px;
  position: absolute;
  right: 0;
  top: 50%;
  width: 100%;
}
.simple-animated-modal-close::before{
  transform: rotate(45deg);
}
.simple-animated-modal-close::after{
  transform: rotate(-45deg);
}
.simple-animated-modal {
  -webkit-animation: apparition ease .5s 1 normal ;
          animation: apparition ease .5s 1 normal ;
}
@-webkit-keyframes pop {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	  -webkit-transform: scale(0);
	          transform: scale(0);
  }
  100% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	-webkit-transform: scale(1);
	        transform: scale(1);
	  max-height: 100%;
	  width: 30%;
	  left: 35%;
  }
}
@keyframes pop {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	  -webkit-transform: scale(0);
	          transform: scale(0);
  }
  100% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	-webkit-transform: scale(1);
	        transform: scale(1);
	  max-height: 100%;
	  width: 70%;
	  left: 15%;
  }
}



/*
* Timeline
*/

.timeline a {
  text-decoration: none;
}
.timeline {
  opacity: 0;
  margin: 25px auto;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
/* 
 * used to check the current media query 
 */
.timeline::before {
  content: 'mobile';
  display: none;
}
/* 
 * show timeline after events position set in JavaScript
 */
.timeline.loaded {
  opacity: 1;
}
.timeline-wrapper {
  height: 130px;
  max-width:1200px;
  margin: 0 auto;
  position: relative;
  width: 95%;
}
.timeline .events-wrapper {
  height: 100%;
  margin: 0 40px;
  outline: none;
  overflow-x: hidden;
  position: relative;
}
/* 
 * grey timeline 
 */
.timeline .events {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 60px;
  height: 2px;
  /* width will be set using JavaScript */
  background: #dfdfdf;
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}
/* 
 * active green line
 */
.timeline .filling-line {
  background-color: #497E6C;  
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition: -webkit-transform 0.25s;
  -moz-transition: -moz-transform 0.25s;
  transition: transform 0.25s;
  width: 100%;
  z-index: 1;
}
.timeline .events a {
  bottom: 0;
  color: #222;
  font-size: 1.0em;
  font-weight: 600;
  height: 40px;
  padding-bottom: 60px;
  position: absolute;
  text-align: center;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -ms-transition:     all 0.25s ease-in-out;
  -moz-transition:    all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition:         all 0.25s ease-in-out;  
  width: 40px;
  z-index: 2;
}

.timeline .events a:focus {
  outline: 2px solid #b97ff4;
}

/* 
 * create the event spot 
 */
.timeline .events a::after {
  backface-visibility: hidden;
  background-color: #f7f7f7;
  border-radius: 50%;
  border: 2px solid #497E6C;
  bottom: -33px;
  box-shadow: inset 0 0 3px 2px rgba(0,0,0,0.25);
  content: '';
  height: 64px;
  left: -37%;
  margin-left: 1px;
  position: absolute;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  transform: translateZ(0);
  -webkit-transition: all 0.3s, border-color 0.3s;
  -moz-transition: all 0.3s, border-color 0.3s;
  transition: all 0.3s, border-color 0.3s;
  width: 64px;
}
.timeline .events a .timeline-icon {
  left: 0px;
  position: relative;
  top: 15px;
  z-index: 6;
}
.timeline-icon:after {
  background-repeat: no-repeat;
  background-size: 40px;
  content: '';
  display: flex;
  height: 40px;
  position: relative;
  width: 40px;
  z-index:9;
}
/* 
 * svg icons 
 */
.timeline-icon.teaching::after{
  background-image: url(../img/icons/teaching.svg);
} 
.timeline-icon.associate-teaching::after{
  background-image: url(../img/icons/associate-teaching.svg);
} 
.timeline-icon.multimedia::after{
  background-image: url(../img/icons/multimedia.svg);
} 
.timeline-icon.threedee::after{
  background-image: url(../img/icons/threedee.svg);
} 
.timeline-icon.digital-video::after{
  background-image: url(../img/icons/digital-video.svg);
} 
.timeline-icon.web::after{
  background-image: url(../img/icons/web.svg);
} 
.timeline-icon.tertiary::after{
  background-image: url(../img/icons/tertiary.svg);
} 
.timeline-icon.production::after{
  background-image: url(../img/icons/production.svg);
} 
.timeline-icon.vfx::after{
  background-image: url(../img/icons/vfx.svg);
} 
.timeline-icon.html5::after{
  background-image: url(../img/icons/html5.svg);
} 
.timeline-icon.javascript::after{
  background-image: url(../img/icons/javascript.svg);
} 
.timeline-icon.ux::after{
  background-image: url(../img/icons/ux.svg);
} 
.timeline-icon.front-end::after{
  background-image: url(../img/icons/front-end.svg);
} 
.timeline-icon.cms::after{
  background-image: url(../img/icons/cms.svg);
} 
.timeline-icon.email::after{
  background-image: url(../img/icons/email.svg);
} 
.timeline-icon.advisory::after{
  background-image: url(../img/icons/advisory.svg);
} 
.timeline-icon.web-3d::after{
  background-image: url(../img/icons/web-3d.svg);
} 
.timeline-icon.agile::after{
  background-image: url(../img/icons/agile.svg);
} 
.timeline-icon.accessibility::after{
  background-image: url(../img/icons/accessibility.svg);
} 
.timeline .events a:hover::after {
  background-color: #fff;
  border-color: #ccc;
  box-shadow: inset 0 0 3px 2px rgba(0,0,0,0.5);
}
.timeline .events a.selected {
  pointer-events: none;
}
.timeline .events a.blue.selected::after {background-color: #4493d3;}
.timeline .events a.red.selected::after {background-color: #E15060;}
.timeline .events a.green.selected::after {background-color: #00AF80;}
.timeline .events a.yellow.selected::after {background-color: #EAD859;}

.timeline-navigation li{
  list-style-type: none;
  margin:0;
  padding:0;
}
/*
 * Left right controls
 */
.timeline-navigation a {
  background-color:#f7f7f7;
  border-radius: 50%;
  border: 2px solid #497E6C;
  bottom: 42px;
  color: #222222;
  height: 35px;
  margin: 10px;
  opacity: 0.75;
  overflow: hidden;
  position: absolute;
  text-indent: 100%;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  white-space: nowrap;
  width: 35px;
}
.timeline-navigation a:hover{
  background-color: #fff;
  border: 2px solid #ccc;
  box-shadow: inset 0 0 4px 1px rgba(0,0,0,0.65);
}
.timeline-navigation a.prev{
  left:-16px;
}
.timeline-navigation a.next {
  right: -16px;
}
.timeline-navigation a.prev::after, .timeline-navigation a.next::after {
  background: transparent;
  border-left: 3px solid #497E6C;
  border-top: 3px solid #497E6C;
  content: '';
  font-size: 0;
  height: 10px;
  left: 12px;
  position: absolute;
  top: 12px;
  width: 10px;
  z-index: 10000;
}
.timeline-navigation a.prev::after{
  border:none;
  border-bottom: 3px solid #497E6C;
  border-right: 3px solid #497E6C;
  left: 8px;
  top: 8px;
}
.no-touch .timeline-navigation a:hover {
  border-color: #497E6C;
}
.timeline-navigation a.inactive {
  cursor: not-allowed;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
}
.timeline-navigation a.inactive::after {
  background-position: 0 -16px;
}
.no-touch .timeline-navigation a.inactive:hover {
  border-color: #ccc;
}
.timeline ol {
  list-style-type: none;
  margin: 0;
  padding:0;
}
.timeline .events-content {
  height: 100% !important;
  margin: 30px 0 20px;
  overflow: hidden;
  position: relative;
  -webkit-transition: height 0.4s;
  -moz-transition: height 0.4s;
  transition: height 0.4s;
  width: 100%;
}
.timeline .events-content em {
  font-size: 0.9em;
  font-style: normal;
  line-height: 2.5;
  margin: 0;
}
.timeline .events-content li {
  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  left: 0;
  opacity: 0;
  padding: 0 5%;
  position: absolute;
  top: 0;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  width: 100%;
  z-index: 1;
}
/* 
 * visible event content 
 */
.timeline .events-content li.selected {
  margin: 0 auto;
  min-height: 225px;
  opacity: 1;
  position: relative;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  width: 100%;
  z-index: 2;
}
.timeline .events-content li.enter-right, .timeline .events-content li.leave-right {
  -webkit-animation-name: enter-right;
  -moz-animation-name: enter-right;
  animation-name: enter-right;
}
.timeline .events-content li.enter-left, .timeline .events-content li.leave-left {
  -webkit-animation-name: enter-left;
  -moz-animation-name: enter-left;
  animation-name: enter-left;
}
.timeline .events-content li.leave-right, .timeline .events-content li.leave-left {
  -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse;
  animation-direction: reverse;
}
.timeline .events-content li > * {
  max-width: 800px;
  margin: 0 auto;
}
.timeline .events-content h2 {
  color: #497E6C;
  font-size: calc(30px + (35 - 30) * ((100vw - 300px) / (1600 - 300)));
  font-family: 'Special Elite', serif;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 15px;
}
.timeline .events-content p {
  display: block;
  font-size: 1.2em;
  line-height: 1.6;
  margin: 0 0 15px;
}
/*
 * css animation
 */
@-webkit-keyframes enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}
@-moz-keyframes enter-right {
  0% {
    opacity: 0;
    -moz-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0%);
  }
}
@keyframes enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@-webkit-keyframes enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}
@-moz-keyframes enter-left {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0%);
  }
}
@keyframes enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}


/*
 * footer
 */
 #contact {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
footer {
  margin-top: 65px;
  padding: 0;
  position: relative;
}
 .footer-wrapper {
  background: #497E6C url(../img/footer.svg) no-repeat top left;
  background-position-x:40%;
  background-position-y: -1px;
  background-size: cover;
  margin: 0;
  overflow: hidden;
  padding:17px 0 0;
  position: relative;
  width:100%;
}
.footer-wrapper section.row{
  margin-left: 15px;
  margin-right: 15px;
}
footer.row {
  height: 100%;
  margin: 0 auto;
  padding: 0 15px 0;
}
footer h2 {
  margin: -0.5em 0 0;
  padding: 0;
  line-height: 1.5;
}
footer h3 {
  color: #ffffff;
  font-family: 'Open sans', sans-serif;
  font-size: calc(20px + (32 - 20) * ((100vw - 300px) / (1600 - 300)));
  font-weight: bold;
  line-height: 1.5;
  margin: 10px 10px 40px 10px;
  padding: 0;
}
footer .contact .phone span{background-image:url("../img/phone.svg");}
footer .contact .email span{background-image:url("../img/email.svg");}
footer .social {
  align-items: flex-end;
  bottom: 130px;
  display: flex;
  justify-content: center;
  position: relative;
}
footer h5 {
  color: #fff;
  font-family: inherit;
  font-size: 0.95em;
  line-height: 1.5;
  margin: 5px 0;
}

footer .links {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 0 10px;
  padding: 0;
}
footer .links a {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 45px;
  border-bottom: none;
  border-radius: 50%;
  height: 45px;
  margin:30px 10px;
  opacity: 0.9;
  padding: 0;
  text-decoration: none;
  transition: all .25s ease 0s;
  -webkit-transition: all .25s ease 0s;
  width: 45px;
}
a.twitter{background-image: url(../img/twitter.svg);}
a.linkedin{background-image: url(../img/linkedin.svg);}
a.github{background-image: url(../img/github.svg);}
a.phone{background-image:url(../img/phone.svg);display:none;}
a.curriculum-vitae{background-image: url(../img/cv.svg);margin-right:0;}
footer .links a:hover{
  box-shadow: 0 0 4px 1px rgba(0,0,0,0.35);
  opacity:1.0;
}

.footer-wrapper .copyright {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  padding: 10px 0;
  color: #fff;
  font-size: 0.85em;
}


/* ==========================================================================
   #Contact Form
   ========================================================================== */
.contact_me {
    margin: 0;
    padding: 0;
}
.contact_me .form-group{
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
footer .message .col-span-8{
  transition: all .25s ease 0s;
  -webkit-transition: all .25s ease 0s;
}
.contact_me textarea{
  height:154px;
}
.contact_me input[type="text"], .contact_me input[type="email"], textarea {
  border:1px solid #355e4e;
  color:#222222;
  font-family: 'Roboto', sans-serif;
  font-size: 1.0em;
  font-weight: 300;
  height: 40px;
  line-height: 140%;
  margin-bottom: 15px;
  margin-top:5px;
  padding: 5px;
  resize: none;
}
.contact_me input:focus, .contact_me textarea:focus{
   outline: 4px solid #565656;
} 

.contact_me input[type="text"]{
  margin-bottom:40px;
}
.contact_me label {
  color:#ffffff;
  display: flex;
  flex-direction: column;
  font-size: 1.00em;
  line-height: 1.5;
  margin-bottom: 5px;
}


/* ==========================================================================
     Media Queries for Responsive Design 
   ========================================================================== */

/* 
 * Extra small devices (Phones, 568px and down) 
 */
 @media all and (max-width: 36.50em) {


  /* layout */
  .col-span-1,.col-span-2,.col-span-3,.col-span-4,.col-span-5,.col-span-6,.col-span-7,.col-span-8,.col-span-9,.col-span-10,.col-span-11 {
     flex-basis: 100%;
  }
   /* IE fix */
   _:-ms-fullscreen, :root .col-span-1, _:-ms-fullscreen, :root .col-span-2, _:-ms-fullscreen, :root .col-span-3, _:-ms-fullscreen, :root .col-span-4, _:-ms-fullscreen, :root .col-span-5, _:-ms-fullscreen, :root .col-span-6, _:-ms-fullscreen, :root .col-span-7,  _:-ms-fullscreen, :root .col-span-8,  _:-ms-fullscreen, :root .col-span-9,  _:-ms-fullscreen, :root .col-span-10,  _:-ms-fullscreen, :root .col-span-11, _:-ms-fullscreen, :root .nested .col, _:-ms-fullscreen, :root .fixed-width {
    flex-basis: auto;
    width:100%;
  }
   .fixed-width {
     flex: 0 0 100%;
   }          

/*
 * Mobile menu
 */
.mobile-container {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 99;
}
.mobile-button{
  display:block;
}

 header .wrapper nav.menu {
  width: 70px;
  position: absolute;
  right: 0;
  margin: 0;
  padding: 0;
  top:5px;
  -ms-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
header .col-span-5 {
  padding: 0;
}
header .logo{
  margin-top:0;
}
header .logo h1 {
  height: 65px;
  line-height: 65px;
  margin-top:0.25em;
}
.sticky nav .row.nested a{
  color:#ffffff;
}
/*
 * Display home in mobile menu
 */
.mobile-only{
  display:block;
}
.mobile-menu {
  background: #497E6C;
  border-radius: 50%;
  box-shadow: 0 0 3px 1px rgba(0,0,0,0.25);
  height: 0px;
  left: 100%;
  opacity: 1;
  position: absolute;
  top: 0px;
  -webkit-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
  -moz-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
  -ms-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
  -o-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
  transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
  transition-delay: .03s;
  width: 0px;
  z-index: 5;
}
.mobile-menu.open {
  height: 700px;
  left: 55%;
  top: -300px;
  -webkit-transition: all 400ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
  -moz-transition: all 400ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
  -ms-transition: all 400ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
  -o-transition: all 400ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
  transition: all 400ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
  position: relative;
  width: 700px;
  z-index: 1;
}
.mobile-links {
  height: 100%;
  opacity: 0;
  position: relative;
  right:110px;
  top: 10px;
  visibility: hidden;
  z-index: 99;
}
.visible {
  opacity: 1;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
  transition-delay: .25s;
  visibility: visible;
}
.mobile-links ul {
  padding: 0px;
  position: absolute;
  right: 25px;
  top: 45%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.mobile-links li {
  display: flex;
  justify-content: center;
}
nav .row.nested a {
  color: #fff;
  display: block;
  font-weight: bold;
  letter-spacing: 3px;
  line-height: 2.25;
  margin: .5em 0;
  padding: 0;
  text-decoration: none;
}
.changecolor, .changecolor:before, .changecolor:after {
  background-color:  #497E6C;
}
.hamburger {
  background-color:#ffffff;
  border: 0;
  border-radius: 50%;
  color: inherit;
  cursor: pointer;
  display: inline-flex;
  font: inherit;
  margin: 0;
  overflow: visible;
  padding: 6px;
  position: absolute;
  right: 10px;
  text-transform: none;
  top:9px;
  -ms-transition: top 0.25s ease-in-out;
  -moz-transition: top 0.25s ease-in-out;
  -webkit-transition: top 0.25s ease-in-out;
  transition: top 0.25s ease-in-out;
  width:48px;
  z-index: 9;
}
.changecolor .hamburger{
  background-color:transparent;
}
.hamburger-box {
  width: 35px;
  height: 35px;
  display: inline-flex;
  position: relative;
}
.hamburger-inner {
  display: flex;
  top: 50%;
  margin-top: -2px;
  margin-left: 3px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 30px;
  height: 4px;
  background-color: #497E6C;
  border-radius: 3px;
  position: absolute;
}
.changecolor > .hamburger-inner,
.changecolor > .hamburger-inner::before,
.changecolor > .hamburger-inner::after{
  background-color: #ffffff;
}
.hamburger.is-active{
  background-color: transparent;
}
.is-active .hamburger-inner,
.is-active .hamburger-inner::before, 
.is-active .hamburger-inner::after{
  background-color: #ffffff;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}
/*
 * Hamburger Spin
 */
.hamburger--spin .hamburger-inner {
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.34s ease-in, opacity 0.1s ease-in;
}
.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.34s ease-in, -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin.is-active .hamburger-inner {
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
  transition-delay: 0.14s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.14s ease-out;
}
.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, -webkit-transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.banner-wrapper{
  display: flex;
  height: 280px;
  position: relative;
}

.banner-wrapper .col-span-6.hero{
  max-width: 340px;
  width: 65%;
}
.banner-wrapper .col-span-6.introduction{
  width:auto;
}

.banner .hero{
  bottom: 0;
  left: -15%;
  padding:0;
  position: absolute;
  width:75%;
  z-index:0;
}
.banner .hero .inner{
  display:block;
}
.banner .introduction{
  bottom:0;
  position: absolute;
  right:5px;
  transform:translate(0,-60%);
  z-index: 2;
}
.banner .introduction .inner{
  text-align: right;
  transform: translate(0,-20%);
}

.unicorn {
  display: block;
  float: unset;
  justify-content: center;
  margin: 10px auto;
  padding: 0;
  width: 100%;
}

.portfolio-media {
  margin: -20px auto 10px;
  max-width: 90%;
}
.simple-animated-modal {
  left: 5%;
  right: 5%;
  top: 10vh;
  width: 90%;
  padding-left: 0;
  padding-right: 0;
}
#modal-title {
  text-indent: 4%;
}
.timeline .events{
  left:-50%;
}
.back-to-top{
  bottom:-5px;
  height:70px;
  width:70px;
  z-index: 5;
}
.back-to-top a{
  height:70px;
  padding:20px;
  width:70px;
}
.back-to-top a span{
  height:60px;
  left:5px;
  padding:23px;
  top:5px;
  width:60px;
}
.back-to-top a span::after{
  height:15px;
  left:22px;
  top:26px;
  width:15px;
}
.contact_me  .message{
  margin-top:-20px;
}
.contact_me textarea {
  height: 100px;
}
a.phone{display:block;}

}


/* 
* Small devices (landscape phones, 576px and up) 
*/
@media all and (min-width: 37.00em) {

.row.nested.links{
    display:flex;
  }
.mobile-button, .mobile-only{
  display:none;
}
nav .col{
  padding:0.25em 5px;
}

.banner-wrapper{
  display: flex;
  height: auto;
  position: unset;
}
.banner .hero{
  padding:0;
  position: unset;
  width:auto;
}
.banner .introduction{
  padding-left: 2%;
  position: unset;
  transform:translate(0,0);
}
.banner .introduction .inner{
  margin:5% 0;
  text-align:left;
  transform: translate(0,-20%);
}
.unicorn {
  float: right;
  margin:5px 0 5px 10px;
  padding: 0;
  width:40%;
}
.portfolio-item{
  width: 46%;
  width: 46%;
}
.portfolio-image::before {
  padding-top: 95%;
}
.simple-animated-modal {
  left: 5%;
  right: 5%;
  top: 10vh;
  width: 90%;
  padding-left: 2%;
  padding-right: 2%;
}
#modal-title {
  text-indent: 0;
}
footer .message .col-span-8{
  flex-basis: 100%;
}

}
 


/* 
* Medium devices (tablets, 768px and up) 
* The navbar toggle appears at this breakpoint 
*/
@media all and (min-width: 48.00em) {  

  .portfolio-item{
    width: 32%;
  }
  
  .timeline .events-content li.selected {
    width: 50%;
  }
  .timeline .events-content p {
    font-size: 1.4em;
  }  
  
  .timeline .events-content a {
    color: #497E6C;
    font-weight: 700;
    text-decoration: underline;
  }


  footer .message .col-span-8{
    flex-basis: 66.6666%;
    max-width:1040px;
  }

}
 

/* 
* Large devices (desktops, 992px and up)
*/
@media (min-width: 62.00em) { 
  header .wrapper nav {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding-top: .75em;
  }
  .banner .introduction{
    padding-left: 0;
  }
  .portfolio-item{
    width: 24%;
  }
  .simple-animated-modal {
    left: 20%;
    right: 20%;
    top: 10vh;
    max-width: 800px;
    width: 60%;
    padding-left: 1%;
    padding-right: 1%;
  }
  .timeline {
    margin:30px auto;
  }
  /* 
   * invisible - checks current media query 
   */
  .timeline::before {
    content: 'desktop';
  }

}

 
 
/* Extra large devices (large desktops, 1370px and up) */
 @media all and (min-width: 87.50em) {

     .wrapper, .banner.row, footer.row{
       width:1370px;
     }

}
 




 /* ==========================================================================
    Print styles.
    Inlined to avoid the additional HTTP request:
    https://www.phpied.com/delay-loading-your-print-css/
    ========================================================================== */
 
 @media print {
   *,
   *:before,
   *:after {
     background: transparent !important;
     color: #000 !important;
     /* Black prints faster */
     -webkit-box-shadow: none !important;
     box-shadow: none !important;
     text-shadow: none !important;
   }
   a,
   a:visited {
     text-decoration: underline;
   }
   a[href]:after {
     content: " (" attr(href) ")";
   }
   abbr[title]:after {
     content: " (" attr(title) ")";
   }
   /*
      * Don't show links that are fragment identifiers,
      * or use the `javascript:` pseudo protocol
      */
   a[href^="#"]:after,
   a[href^="javascript:"]:after {
     content: "";
   }
   pre {
     white-space: pre-wrap !important;
   }
   pre,
   blockquote {
     border: 1px solid #999;
     page-break-inside: avoid;
   }
   /*
      * Printing Tables:
      * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
      */
   thead {
     display: table-header-group;
   }
   tr,
   img {
     page-break-inside: avoid;
   }
   p,
   h2,
   h3 {
     orphans: 3;
     widows: 3;
   }
   h2,
   h3 {
     page-break-after: avoid;
   }
 }


 @media print,
   (-webkit-min-device-pixel-ratio: 1.25),
   (min-resolution: 1.25dppx),
   (min-resolution: 120dpi) {
   /* Style adjustments for high resolution devices */
 }
 
 /* ==========================================================================
    Print styles.
    Inlined to avoid the additional HTTP request:
    https://www.phpied.com/delay-loading-your-print-css/
    ========================================================================== */
 
 @media print {
   *,
   *:before,
   *:after {
     background: transparent !important;
     color: #000 !important;
     /* Black prints faster */
     -webkit-box-shadow: none !important;
     box-shadow: none !important;
     text-shadow: none !important;
   }
   a,
   a:visited {
     text-decoration: underline;
   }
   a[href]:after {
     content: " (" attr(href) ")";
   }
   abbr[title]:after {
     content: " (" attr(title) ")";
   }
   /*
      * Don't show links that are fragment identifiers,
      * or use the `javascript:` pseudo protocol
      */
   a[href^="#"]:after,
   a[href^="javascript:"]:after {
     content: "";
   }
   pre {
     white-space: pre-wrap !important;
   }
   pre,
   blockquote {
     border: 1px solid #999;
     page-break-inside: avoid;
   }
   /*
      * Printing Tables:
      * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
      */
   thead {
     display: table-header-group;
   }
   tr,
   img {
     page-break-inside: avoid;
   }
   p,
   h2,
   h3 {
     orphans: 3;
     widows: 3;
   }
   h2,
   h3 {
     page-break-after: avoid;
   }
 }
